@charset "UTF-8";

.m-row {
  margin: 0;
}

.m-header-nav {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .brand-logo {
    position: relative;
    font-size: 1.3em;
    font-weight: 700;
  }

  ul {
    display: flex;
    flex-direction: column;
  }
}

.medium {
  font-size: 50px !important;
}